services:
  fastapi-app:
    build: ./backend
    container_name: fastapi-store-dev
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    environment:
      - PYTHONUNBUFFERED=1
    working_dir: /app
    command: uvicorn backend.app:app --host 0.0.0.0 --reload