name: Trigger auto deployment for backend-app

on:
  push:
    branches: [main]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BACKENDAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BACKENDAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BACKENDAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/backend
          registryUrl: docker.io
          registryUsername: ${{ secrets.BACKENDAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BACKENDAPP_REGISTRY_PASSWORD }}
          containerAppName: backend-app
          resourceGroup: store-web-app
          imageToBuild: nesteagle/backend-app:${{ github.sha }}


